<!DOCTYPE html>
<html>
<title>Bansalpassion</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>Bansals_passion</b> Lucknow</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-medium w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Portfolio</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      <a href="/login" class="w3-bar-item w3-button">Admin_Login</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/frontpage-upload/IMG-20200416-WA0009.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>B.I.E.T</b></span> <span class="w3-hide-small w3-text-light-grey">Lucknow</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Portfolio</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3  w3-margin-bottom">
      <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Student's Section</div>
      <a href="/student"><img src="/frontpage-upload/IMG-20200416-WA0007.jpg" alt="House" style="width:100%"> </a> 
      </div>
    </div>
    <div class="w3-col l3 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Faculty Section</div>
        <a href="/faculty"><img src="/frontpage-upload/IMG-20200416-WA0006.jpg" alt="House" style="width:100%"></a>
      </div>
    </div>
    <div class="w3-col l3 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Authority Section</div>
        <a href="/authority"><img src="/frontpage-upload/IMG-20200416-WA0004.jpg" alt="House" style="width:100%"></a>
      </div>
    </div>
    <div class="w3-col l3 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Participant's Section</div>
        <a href="/participants"><img src="/frontpage-upload/IMG-20200416-WA0012.jpg" alt="House" style="width:100%"></a>
      </div>
    </div>
  </div>

 
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Bansal Educational Society came into being in the year 2002. It is crossing a mile stone year after year to achieve its goal. Over the years, it has earned a good name and reputation in the field of education. The Society further wishes to establish premier institutions of Information Technology, Electronics, Biotechnology, Mechanical and Computer Science along with its already existing and functional Educational branches of MANAGEMENT.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="/frontpage-upload/IMG-20200416-WA0008.jpg" alt="John" style="width:450px; height : 500px;">
      <h3>Salwan Baloria</h3>
      <p class="w3-opacity">Student (3rd year)</p>
      <p>Department Of Agriculture Engineering.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="/frontpage-upload/IMG-20200416-WA0010.jpg" alt="Jane" style="width:450px; height : 500px;">
      <h3>Shashank Trivedi</h3>
      <p class="w3-opacity">Graduate</p>
      <p>Department Of Mechanical Engineering.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="/frontpage-upload/IMG-20200416-WA0013.jpg" alt="Mike" style="width:450px; height : 500px;">
      <h3>Gaurav Yadav</h3>
      <p class="w3-opacity">Student (4th year)</p>
      <p>Department Of Computer Science and Engineering.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project or contact:- aman2419998@gmail.com</p>
    <form action="/" method="POST" enctype="text/plain">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="/frontpage-upload/IMG-20200416-WA0011.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://aman2419998.github.io/Personal-Page/" title="W3.CSS" target="_blank" class="w3-hover-text-green">Aman Gupta </a>(Computer-Science Department)</p>
  <p>&copy Copyright 2020</p>
</footer>

</body>
</html>
