
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bansal Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <div class="alert alert-success" role="alert"><%= message %>  </div>
  <h2>Select Section</h2>
  <form action="/action" method="POST">
    <select name="section" class="custom-select mb-3">
      <option selected value="student">Student's Section</option>
      <option value="faculty">Faculty Section</option>
      <option value="authority">Authority Section</option>
      <option value="participants">Participant's Section</option>
    </select>
    <button type="submit" class="btn btn-primary">Proceed</button>
  </form>
</div>

</body>
</html>


<!-- <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*" multiple> -->